.navbar-lewagon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #393e46;
  color: white;
  height: 56px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 3px solid transparent;
}

.navbar-lewagon .nav-link:hover {
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-bottom: 3px solid white;
}

.navbar-right {
  display: flex;
}
